html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    margin:0;
    background-color:#F8F8F8;
}
.first-block__read-more:visited{
    color: #000;
}
.first-block__read-more:active{
    color: #41F6D7;
}
.header {
    width: 100%;
    height: 88px;
    background-color:#FFFFFF;
    display:flex;
    align-items:center;
    padding: 0 16px;
    border-bottom: 1px solid #D9FFF5;

}
.button{
    width:40px ;
    height: 40px; 
    background-color: #FF3E79;
    border: 0;
    border-radius: 50%;
    padding:0;
}
.button:hover{
    background-color: #ff99bd;
   
}
.header__highlight{
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;   
    margin-left: 16px;
}

.header__logo{
    margin-left: 16px;
}
.heder__right-menu{
    margin-left: auto;
}
.right-menu__button{
    margin-left: 16px;
}
.right-menu{
display: inline-flex;
}
.right-menu__button--more{
    display:none;
}
.header__highlight--visibility{
    display: none;
}

.body__title {
    padding-left: 16px;
    margin-bottom: 22px;
}
.title{
    font-family: "TT Lakes";
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    font-style: normal;
}

.title__buttons{
display: none;
}
.title__button{
    position: relative;  
    margin-right: 33px; 
    margin-left:130px;
}


.title__button--repair::before{
    content: 'Оставить заявку';
    position: absolute;
    right: 100%;             
    white-space: nowrap;    
    padding-right: 8px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
   
}
.title__button--checkstatus::before{
    content: 'Оставить заявку';
    position: absolute;
    right: 100%;             
    white-space: nowrap;   
    padding-right: 8px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
   
}
.side-menu__nav{
    white-space: nowrap;
    margin-left: 16px;
    margin-bottom: 6px;
    overflow: auto;
    display: flex; 
}
.side-menu{
    position: relative;
}
.side-menu__nav::-webkit-scrollbar { opacity: 0; }
.side-menu__nav::before{content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px; 
    height: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(248, 248, 248) 100%);
}
.title__highlight{
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
}
.side-menu__item{
    display: inline-flex;
    font-family: "TT Lakes";
    padding-left: 15px;
    padding-right:15px;
    padding-top: 6px;
    padding-bottom:6px;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    background-color:#F8F8F8;
    letter-spacing: -0.20000000298023224px;
    text-decoration: none;
    align-items: center;

}
.side-menu__item:hover{
    border:2px solid;
    border-radius: 6px;
    background-color:#FFFFFF;
    border-color: #B8FFEC;
    padding-left: 13px;
    padding-right:13px;
    padding-top: 4px;
    padding-bottom:4px;
}
.side-menu__item:active{
    color: #B8FFEC;
}
.first-block{
    display:flex;
    flex-direction: column;
}
.first-block__text {
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'TT Lakes_r';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-bottom:10px;
    margin-top:0;
    

}
.first-block__text--visible--1{
    display:none;
}
.first-block__text--visible--2{
    display:none;
}
.first-block__read-more {
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-left:  16px;

    
}
.first-block__read-more::before{
    content: '';
    display: inline-flex;
    width: 24px;
    height:24px;
    background-image: url(images/arrows.svg);
    background-size: 100%;
    margin-right: 6px;
    background-position-y:6px;
    background-repeat: no-repeat;
    padding-bottom: 2px;
    margin-bottom: 21px;
}

.title__buttons{
    margin-left: auto;
    display: none;
}
@media (min-width: 650px) {
    .first-block__img {
        max-width: 360px;
        height: auto;
        width: 50%;
        border-radius: 10px;
    }

    .first-block{
    flex-direction: row;
    justify-content: space-between;
    }
    .first-block--body{
        width: 50%;
    }
}

@media (min-width: 768px) {
    .header{
        padding: 0 24px;
    }
    .header__button{
        order:-2;
    }
    .header__highlight{
        margin-left: 24px;
    }
    .header__highlight--order{
        order: -1;
    }
    .header__logo{
        margin-left: 24px;
        
    }
    .right-menu__button{
        margin-left: 24px;
    }
    .right-menu__button--more{
        display:block;
    }
    .header__highlight--visibility{
        align-self: center;
        display:block;
    }
    .body__title {
        margin-bottom: 30px;
        padding-left: 24px;
    }
    .first-block{
        margin-right: 24px;
        margin-left: 24px;
        
    }
    .side-menu__nav{
        margin-left: 24px;
        margin-bottom: 12px;
    }
    .side-menu__item{
        padding-left: 16px;
        padding-right: 16px;
    }
    .side-menu__item:hover{
        padding-left: 14px;
        padding-right:14px;
      
    }
    .first-block__text{
        margin-left: 0;
        line-height: 20px;
        margin-right: 31px;
    }
    
    .first-block__read-more {
        margin-left: 0;
    }
    .first-block--body{
        
        padding-right: 30px;
    }
    .first-block__img{
        max-width: 531.35px;
    }
    .first-block__text--visible--1{
        display: block;
    }
}  

@media (min-width: 1120px) {
    .header{
        display: none;
    }
   
    .side-menu__nav{
        margin-left:33px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        margin-top: 8px;
    }
    .first-block{
        margin-left: 33px;
    }
    .first-block--body{
        padding-right: 0;
    }
    .first-block__text{
        margin-right: 20px;
    }
    .first-block__text--visible--2{
        display: inline;
    }
    .body__services{
        display: flex;
        margin-top: 45px;
    }
    .title__buttons{
        display: flex;
    }
    .body__title{
        padding-left: 33px;
        margin-bottom: 0px; 
        margin-top: 0;
    }
    .side-menu__nav::before{
        display: none;
    }
    .side-menu__item{
        padding-left: 19px;
        padding-right: 19px;
    }
    .side-menu__item:hover{
        padding-left: 17px;
        padding-right:17px;
      
    }
}
