html {
    height: 100%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    margin:0;
    background-color:#F8F8F8;
}

.header {
    width: 100%;
    height: 88px;
    background-color:#FFFFFF;
    display:flex;
    align-items:center;
    padding: 0 16px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
}

.header__buttons{
    margin-left: auto;
    display: flex;
}
.action-buttoms{

    list-style-type: none;
    padding: 0; 
    margin:0;
}
.header__action-buttoms{
    display: none;
}
.stable-buttoms{
    list-style-type: none;
    padding: 0; 
    margin:0;
}
.header__stable-buttoms {
    display: flex; 
}
.button{
    background-color: #FF3E79;
    border: 0;
    border-radius: 50%;
    padding:0;
  
}
.button__label{
    position: relative;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
}
.button__label--v1:before{
    content:"Оставить заявку";
    position:absolute;
    left:-135px;
    top: 7px;
    width:125px;
    
}
.button__label--v2:before{
    content:"Статус ремонта";
    position:absolute;
    left:-135px;
    top: 7px;
    width:119px;
    
}
.button__icon{
    display:flex;
    align-items:center;
    justify-content: center;
    width:40px ;
    height: 40px; 
}
.button:hover{
    background-color: #ff99bd;
   
}
.header__logo{
    margin-left: 16px;
}
.header__button::after{
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;   
    top:28px;
    left:186px;
    position: absolute;
}
.stable-buttoms__item{
    margin-left: 16px;
}
.content__header{
    margin-left:16px;
}
.content__header-box{
    display: flex;
    margin-bottom: 24px;
}
.content__title{
    margin: 0;
    font-family: "TT Lakes";
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
   
}
.content__title::before{
    content: "";
    width: 3px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
}
.content__stable-buttoms{
    display: none;
    
}

.nav--position{
    position: relative;
    margin-bottom: 6px;
}
.nav__items::before{content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px; 
    height: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(248, 248, 248) 100%);
}
.nav__items--clean{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav__items{
    white-space: nowrap;
    overflow: auto;
    display: flex; 
}
.nav__items::-webkit-scrollbar { opacity: 0; }
.nav__item{
    background-color:#F8F8F8;
    padding-left: 17px;
    padding-right:17px;
    padding-top: 8px;
    padding-bottom:8px;
}
.nav__link-h{
    font-family: "TT Lakes";
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-decoration: none;

}
.nav__itam--active{
    border:2px solid;
    border-radius: 6px;
    background-color:#FFFFFF;
    border-color: #B8FFEC;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 6px;
    padding-bottom:6px;
}
.nav__link-h:hover{
    color: #b1b1b5;
}
.text__paragraf{
    margin: 0;
}
.text__paragraf--v2{
    display: none;
}
.text__paragraf--v3{
    display: none;
}
.about{
    display: flex;
    flex-direction: column;
}
.about__wrapper{margin: 0 16px;}
.text{
    font-family: 'TT Lakes_r';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    color:#1B1C21;

}
.about__text{
    margin-bottom: 7px;
}
.about__wrapper{
    margin-bottom: 16px;
}
.read-more__icon{
    position: relative;
    top: 6px;
}
.read-more__button{
    background-color: #F8F8F8;
    border: 0;
    padding: 0;
    
}
.read-more__button:hover{
    color: #41F6D7;
}
.read-more__text{
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
}
.aside{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    box-shadow: 16px 0px 52px 0px #0E185033,
            -2px 0px 4px 0px #454F7E05;
}
.aside__header{
    margin-bottom: 24px;
    align-items: center;
    width: 100%;
    display: flex;
    min-height: 88px;
    padding: 0 24px;
    border-bottom: 0;
}
.aside__logo{
    margin-left: 16px;
}
.header__button--clean::after {
display: none;
}
.header__button--position--right{
    margin-left:auto;

}
.aside__main-menu{
    display: flex;
    flex-direction: column;
    width:max-content;
    height:100%;
}
.main-menu__nav{
    margin-left: 24px;
    height: 100%;
}
.nav__lists{
    display: flex;
    height: inherit;
    max-height: 412px;
    min-height:275px;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.nav__lists--clean{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav__link-v{
    font-family: "TT Lakes";
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-decoration: none;
}

.nav__link-v:hover{
    color: #7E7E82;
    position: relative;
}
.nav__link-v:hover::before{
    content: "";
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0 15px 15px 0;
    position: absolute;
    left: -24px;
    top: -4px;
}
.aside__footer{
    margin-top: 30px;
    margin-left: 24px;
    margin-bottom: 32px;
   
}
.aside__contact{
    margin-bottom: 40px;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact__action-buttoms{
    display: flex;
    margin-bottom: 16px;
}
.action-buttoms__item{
    margin-right: 16px;
}
.aside__mail{
    margin-bottom: 12px;
}
.mail{
    font-size: 16px;
    line-height: 24px;
    font-family: "TT Lakes";
    letter-spacing: -0.20000000298023224px;
    color: #1B1C21;
}
.number{
    font-family: "TT Lakes";
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
}
.lang{
    list-style-type: none;
    padding: 0; 
    margin:0;
    display: flex;
}
.lang__item{
    margin-right: 8px;
}
.lang__link{
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-decoration: none;
    color:#1B1C21;
}
.lang__link--active{
    color:#7E7E82;
}
@media (min-width: 650px) {
    .about{
        flex-direction: row;
        justify-content: space-between;
    }
    .about__img{
        max-width: 360px;
        height: auto;
        width: 50%;
        border-radius: 10px;
    }
    .about__wrapper{
        width:50% ;
    }
}

@media (min-width: 768px) {
    .header{
        padding: 0 24px;
    }
  
    .header__logo{
        margin-left: 43px;
        
    }
    .header__button::after{
        left:84px;
    }
    .action-buttoms{
        display:flex;
    }
    .header__action-buttoms::after{
        content: "";
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;   
        position: relative;
        margin-left: 6px;
        top: 4px;
    }
    .action-buttoms__item{
        margin-right: 16px;
    }
    .stable-buttoms__item:first-child{
        margin-left: 20px;
    }
    .content__header{
        margin-left:24px;
    }
    .content__header-box{
        margin-bottom: 32px;
      
    }
    .nav--position{
        margin-bottom: 14px;
    }
    .about{
        padding: 0 24px;
    }
    .about__img{ 
        max-width: 531.35px;
    }
    .about__wrapper{
        margin: 0;
        padding-right: 46px;
    }
    .text__paragraf--v2{
        display: inline;
    }
    .text{
        line-height: 20px;
    }
}  

@media (min-width: 1120px) {
    .header{
        display: none;
    }
    .content__stable-buttoms{
        list-style-type: none;
        padding: 0; 
        margin:0;
        margin-left: auto;
        margin-right:32px;
    }
    .stable-buttoms{display:flex
    }
    .content__header-box{
        margin-bottom: 8px;
    
    }
    .stable-buttoms__item:last-child{
        margin-left: 160px;
    }
    
    .nav__items{
        flex-wrap: wrap;
    }
   
    .content__header{
        margin-left:35px;
        margin-top: 42px;
    }
   
    .content__title{
        margin-bottom: 0px; 
        margin-top: 0;
    }
    .nav__items::before{display: none;}
    .about{
        padding-left:35px;
    }
    .text__paragraf--v3{
        display:inline;
    }
    .aside__header{
        display: flex;
    }
}
