*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes/TTLakes-Bold.eot');
    src: local('TTLakes/TT Lakes Bold'), local('TTLakes-Bold'),
        url('TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes/TTLakes-Bold.woff') format('woff'),
        url('TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }
@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes/TTLakes-Medium.eot');
    src: local('TTLakes/TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakes/TTLakes-Medium.woff') format('woff'),
        url('TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
    
@font-face {
    font-family: 'TT Lakes_r';
    src: url('TTLakes/TTLakes-Regular.eot');
    src: local('TTLakes/TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes/TTLakes-Regular.woff') format('woff'),
        url('TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
   
body{
    background-color:#F8F8F8;
    overflow: hidden;
    width: 100%;
}
.first-block__read-more:visited{
    color: #000;
}
.first-block__read-more:active{
    color: #41F6D7;
}
.header {
    width: 100%;
    height: 88px;
    background-color:#FFFFFF;
    display:flex;
    align-items:center;
    margin-bottom:23px;
    border-bottom: 1px solid #D9FFF5;;
}
.header__highlight{
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;   
}
.header--position--right {
    margin-left: auto;
    display: flex;
}
.header--position--left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
}
.burger { 
    margin-left: 16px;
    margin-right: 16px;
}
.header__logo {
    display: block;
    margin-right: 16px;
}
.call{
    display: none;
}
.chat{
    display: none;
}
.profile{
    display: none;
}
.header__highlight--visibility{
    display: none;
    align-self: center;
}
.repair {
    margin-right: 16px;
}
.checkstatus {
    margin-right: 16px;
}
.body__title {
    padding-left: 16px;
    margin-bottom: 22px;
}
.title{
    font-family: "TT Lakes";
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    font-style: normal;
}

.title__buttons{
display: none;
}
.title__button{
    position: relative;     
}
.button{
    width:40px ;
    height: 40px; 
    background-color: #FF3E79;
    border: 0;
    border-radius: 50%;
}

.repair::before{
    content: 'Оставить заявку';
    position: absolute;
    right: 100%;             
    white-space: nowrap;    
    padding-right: 8px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
   
}
.checkstatus::before{
    content: 'Оставить заявку';
    position: absolute;
    right: 100%;             
    white-space: nowrap;   
    padding-right: 8px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
   
}
.side-menu__nav{
    white-space: nowrap;
    margin-left: 16px;
    margin-bottom: 6px;
    overflow: auto;
    display: flex; 
}
.side-menu{
    position: relative;
}
.side-menu__nav::-webkit-scrollbar { opacity: 0; }
.side-menu__nav::before{content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px; 
    height: 40px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(248, 248, 248) 100%);
}
.title__highlight{
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
}
.side-menu__button{
    display: inline-block;
    font-family: "TT Lakes";
    padding-left: 15px;
    padding-right:15px;
    padding-top: 6px;
    padding-bottom:6px;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    background-color:#F8F8F8;
    letter-spacing: -0.20000000298023224px;
    text-align: center;

}
.side-menu__button--active{
    border:2px solid;
    border-radius: 6px;
    background-color: #FFFFFF;
    border-color: #B8FFEC;
}
.first-block{
    display:flex;
    flex-direction: column;
}
.first-block__text {
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'TT Lakes_r';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    margin-bottom:10px;
    

}
.first-block__text--version--1{
    display:none;
}
.first-block__text--version--2{
    display:none;
}
.first-block__read-more {
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-left:  16px;

    
}
.first-block__read-more::before{
    content: '';
    display: inline-flex;
    width: 24px;
    height:24px;
    background-image: url(/code/image/arrows.svg);
    background-size: 100%;
    margin-right: 6px;
    background-position-y:5px;
    background-repeat: no-repeat;
    padding-bottom: 2px;
    margin-bottom: 21px;
}
.first-block__img {
   max-width: 360px;
    height: auto;

 
}
.title__buttons{
    margin-left: auto;
    display: none;
}


@media (min-width: 768px) {
    .burger { 
        order: 1;
        margin-left: 24px;
        margin-right:24px;
    }
    .header__logo {
        order: 3;
        margin-right: 0;
    
    }
    .header__highlight--order{
        order: 2;
        margin-right:24px ;
    }
    .call{
        display: block;
        margin-right: 24px;
    }
    .chat{
        display: block;
        margin-right: 24px;
    }
    .profile{
        display: block;
        margin-right: 24px;
    }
    .header__highlight--visibility{
        display: block;
        margin-right: 24px;
    }
    .repair {
        margin-right: 24px;
    }
    .checkstatus {
        margin-right: 24px;
    }
    .body__title {
        margin-bottom: 30px;
        padding-left: 24px;
    }
    .first-block{
        margin-right: 24px;
        margin-left: 24px;
        flex-direction: row;
        justify-content: space-between;
    }
    .side-menu__nav{
        margin-left: 24px;
        margin-bottom: 12px;
    }
    .side-menu__button{
        padding-left: 16px;
        padding-right: 16px;
    }
    .first-block__text{
        margin-left: 0;
        line-height: 20px;
    }
    
    .first-block__read-more {
        margin-left: 0;
    }
    .first-block--body{
        width: 50%;
        padding-right: 30px;
    }
    .first-block__img{
        width: 50%;
        max-width: 531.35px;
        border-radius: 10px;
    }
    .first-block__text--version--1{
        display: block;
    }
}  

@media (min-width: 1120px) {
    .header{
        display: none;
    }
   
    .side-menu__nav{
        margin-left:33px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        margin-top: 8px;
    }
    .first-block{
        margin-left: 33px;
    }
    .first-block--body{
        padding-right: 0;
    }
    .first-block__text{
        margin-right: 20px;
    }
    .first-block__text--version--1{
        display: none;
    }.first-block__text--version--2{
        display: block;
    }
    .body__services{
        display: flex;
        margin-top: 45px;
    }
    .title__buttons{
        display: flex;
    }
    .repair {
        margin-right: 164px;
    }
    .checkstatus{
        margin-right: 32px;
    }
    .body__title{
        margin-bottom: 0px; 
    }
    .side-menu__nav::before{
        display: none;
    }
}
